joblib
lime
shap
numpy
pandas
PyYAML
scikit-learn
torch
transformers==4.41.0
torchvision
streamlit
matplotlib
langchain
langchain-google-genai
chromadb
sentence-transformers
beautifulsoup4
requests
websockets
crewai==1.14.7
crewai-tools==1.14.7