# Core ML
torch==2.2.2
scikit-learn==1.4.2
transformers==4.41.0
numpy==1.26.4
pandas==2.2.2

# Explainability
shap==0.45.0
lime==0.2.0.1

# MLOps
mlflow==2.12.2
dvc==3.49.0
dvc[s3]==3.49.0

# App
streamlit==1.33.0
matplotlib==3.8.4
PyYAML==6.0.1

# Serialization
joblib==1.4.0

# LangChain / RAG
langchain==0.3.25
langchain-google-genai==2.1.5
chromadb==1.0.7
sentence-transformers==4.1.0

# Web Crawling
beautifulsoup4==4.13.4
requests==2.32.3

# Live Streaming
websockets==12.0
